.buttons {
  display:grid;
  justify-content: right;
  align-items: center;
  padding:.1rem;
  .replies {
    display:flex;
    align-items:center;
    gap:.1rem;
    border-radius:.5rem;
    padding:.2rem .3rem .3rem .2rem;
    font-size:smaller;
  }
  .replies:hover {
    background-color:lightgray;
    display:flex;
    align-items:center;
  }
}

