.messages{
  display:flex;
  flex-direction:column;
  font-size:medium;
  gap:.5rem;
  .date {
    font-size:smaller;
  }
  .message-card {
    display:flex;
    flex-direction:column;
    gap:.5rem;
    padding:.7rem;
    .from-date {
      display:flex;
      justify-content: space-between;
    }
  }
}

.controlpanel {
  display:flex;
  justify-content:center;
}