extends layout

block content 
  h1 login 
  p Welcome, please login 
   div.container
    form(action="post") 
      div  
        label(for="username") enter your username: 
        input(type="text" id='username')
      div  
        label(for='first_name') First Name
        input(type='text' id='first_name')
      div  
        label(for='last_name') Last Name
        input(type='text' id='last_name')
      div  
        label(for="password") Choose Password: 
        input(type="text" id='password')
      div  
        label(for="confirmpasssword") Confirm Password:
        input(type="text" id='confirmpassword')
      div  
        button Submit