extends layout

block content 
  div.container  
    h1 Sign Up Today
    p Thanks for being here. Sign up to see what people are saying.
     div.container
      div(id='errors')
        if errors
          ul  
            each error in errors
              li= error.msg
      form(action="/register" method='post') 
        div  
          label(for='first_name') First Name
          input(type='text' id='first_name' name='first_name' value=(first_name ? first_name : ''))
        div  
          label(for='last_name') Last Name
          input(type='text' id='last_name' name='last_name' value=(last_name ? last_name : ''))
        div
        div  
          label(for="username") Choose Username: 
          input(type="text" id='username' name='username' value=(username ? username : ''))  
        div  
          label(for="password") Choose Password: 
          input(type="text" id='password' name='password')
          span(id='passworderror')
        div  
          label(for="confirmpasssword") Confirm Password:
          input(type="text" id='confirmpassword' name='confirmpassword')
        div  
          input(type="submit")