@import url("../node_modules/font-awesome/css/font-awesome.min.css");
h3 {
  margin: none;
}

p {
  overflow: hidden;
  max-width: 75ch;
}

body {
  margin: auto;
  background-color: white;
  color: black;
  font-size: medium;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.profile .post {
  box-shadow: 0 0 0 0.7rem white;
}

.searchbtn {
  display: flex;
  justify-content: end;
}
.searchbtn input {
  background-color: #1C5D99;
  padding: 0.2rem;
  color: white;
  font-size: medium;
  font-weight: bolder;
}

.btn {
  padding: 0.75rem 0.9rem 0.75rem 0.9rem;
  box-shadow: 0 0 0 1px whitesmoke;
  background-color: #1C5D99;
  border: 0.1rem white solid;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: #34bdeb;
  border: 0.1rem black solid;
}

.btn:focus {
  background-color: #DCCFEC;
}

a {
  text-decoration: none;
  color: black;
}

.buttons {
  display: grid;
  justify-content: right;
  align-items: center;
  padding: 0.1rem;
}
.buttons .replies {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem 0.3rem 0.2rem;
  font-size: smaller;
}
.buttons .replies:hover {
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.postoptions {
  display: flex;
  justify-content: right;
  align-items: center;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}
.buttoncontainer input {
  width: auto;
}

.postform {
  box-shadow: 0.3px 0.3px 0.3px 0.3px whitesmoke;
  display: flex;
  flex-direction: column;
  border: 0.1rem black solid;
  padding: 0.3rem;
  border-radius: 0.7rem;
}
.postform div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.postform .newpost {
  display: flex;
  justify-content: center;
}
.postform .newpost p {
  font-size: larger;
}
.postform .field {
  flex-grow: 4;
}
.postform input {
  padding: 0.7rem;
  border-radius: 0.7rem;
  border: 0.01rem solid;
}
.postform textarea {
  height: 100px;
  border: 0.01rem solid;
  border-radius: 0.7rem;
  padding: 0.7rem;
}

.author-date {
  display: flex;
  justify-content: space-between;
}

.posttitle {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.posts .post {
  box-shadow: 0.3px 0.3px 0.3px 0.3px whitesmoke;
  border: 0.1rem solid white;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .posts .post {
    padding: 2rem;
  }
}
.posts .post .author {
  display: flex;
}
.posts .post .buttons {
  display: flex;
  justify-content: end;
  align-content: bottom;
}
.posts .post .subject-author-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.posts .post .subject-author-date .date {
  display: none;
}
@media (min-width: 768px) {
  .posts .post .subject-author-date {
    flex-direction: row;
  }
  .posts .post .subject-author-date .date {
    display: flex;
  }
}
.posts .post .subject {
  font-size: large;
  font-weight: bold;
}
.posts .post .author a:hover {
  text-decoration: underline black;
}

.content {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 10;
  justify-content: center;
  gap: 0.2rem;
}
@media (min-width: 992px) {
  .content {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
}

.header {
  column-span: all;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 11;
  justify-content: center;
  background-color: #1C5D99;
  color: white;
}

.profile-header {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
}

.searchbutton {
  display: flex;
}

.searchform {
  box-shadow: 0.3px 0.3px 0.3px 0.3px whitesmoke;
  border: 0.05rem black solid;
  border-radius: 0.7rem;
  grid-column-start: 2;
  grid-column-end: 10;
  padding: 0.1rem;
}
@media (min-width: 992px) {
  .searchform {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}
.searchform .formgroup {
  display: flex;
}
.searchform .search {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  align-items: center;
  justify-content: space-between;
}
.searchform .search .input {
  display: flex;
}
.searchform input {
  border-radius: 0.7rem;
  border: none;
  outline: none;
}
.searchform input:focus {
  border: none;
  outline: none;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 1rem;
  position: sticky;
  top: 0;
}
@media (min-width: 992px) {
  .sidebar {
    grid-column-start: 2;
    grid-column-end: 2;
  }
}
.sidebar .option {
  display: flex;
  border-radius: 0.9rem;
  align-items: center;
  gap: 0.3rem;
  padding: 0.2rem;
  margin: 0.5rem;
}
.sidebar .option .words {
  display: none;
}
@media (min-width: 768px) {
  .sidebar .option .words {
    display: flex;
  }
}
.sidebar .option .icon {
  font-size: 24px;
}

.option:hover {
  background-color: lightgray;
}

.login {
  display: flex;
}
.login a {
  text-decoration: underline;
  text-decoration-color: #1C5D99;
}
.login .image {
  display: flex;
  background-color: white;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
}
.login .image .img {
  object-fit: cover;
}
.login .loginform {
  padding: 1rem;
  box-shadow: 0.3px 0.3px 0.3px 0.3px whitesmoke;
  border: 0.1rem solid white;
  display: flex;
  justify-content: center;
}
.login .loginform .field {
  padding: 0.3rem;
}
.login .loginform .field input {
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.register {
  display: flex;
}
.register .image {
  display: flex;
  background-color: white;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
}
.register .image .img {
  object-fit: cover;
}
.register .registrationform {
  padding: 1rem;
  box-shadow: 0.3px 0.3px 0.3px 0.3px whitesmoke;
  border: 0.1rem solid white;
  display: flex;
  flex-direction: column;
}
.register .registrationform a {
  text-decoration: underline;
  text-decoration-color: #1C5D99;
}
.register .registrationform .field {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
}
.register .registrationform .field input {
  border-radius: 0.3rem;
  padding: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
